/*@import url(https://fonts.googleapis.com/css?family=Lato:600);*/
* {
	font-family: JasmineUPC, helvetica, arial, sans-serif;
    box-sizing: border-box
}

html, body {
/*    overflow-x: hidden;*/
    height: 100%;
}

body {
/*    display: flex;*/
  justify-content: center;
  background: #000;
    padding: 0;
    margin: 0;
}

header h1 {
	color: white;
	margin: 0;
	float: right;
    font-size: 2em%;
} 

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: -140px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, darkcyan 0%, cyan 100%);
    z-index: 200;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.rotating-text {
   text-align: center; 
  margin-top: 200px;
    margin-left: 30px;
    margin-bottom: 50px;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: white;
  transform: translateX(-80px);
z-index: -10;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
    z-index: -10;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.skill1 {
  color: #e74c3c;
}

.skill2 {
  color: #8e44ad;
}

.skill3 {
  color: #3498db;
}

.skill4 {
  color: #2ecc71;
}

.skill5 {
  color: #f1c40f;
}
.skill6 {
  color: #e74c3c;
}

.skill7 {
  color: #8e44ad;
}

.skill8 {
  color: #3498db;
}

.skill9 {
  color: #2ecc71;
}

.skill10 {
  color: #f1c40f;
}
.skill11 {
  color: #e74c3c;
}

.skill12 {
  color: #8e44ad;
}

.skill13 {
  color: #3498db;
}

.skill14 {
  color: #2ecc71;
}

.skill15 {
  color: #f1c40f;
}

.skill16 {
  color: #e74c3c;
}

.skill17 {
  color: #8e44ad;
}

.skill18 {
  color: #3498db;
}

.skill19 {
  color: #2ecc71;
}

.skill20 {
  color: #f1c40f;
}

.skill21 {
  color: #e74c3c;
}
h1 {
  color:aliceblue;
 margin-left: 10%;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size:2em;
    
}
.container {
    width: 95%;
    margin:auto;
}
.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
/*    z-index: -1;*/
}

.tabordion input[name="sections"] {
/*  left: -9999px;*/
  position: absolute;
/*  top: -9999px;*/
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: darkcyan;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
    color:aliceblue
}

.tabordion section article {
  display: none;
  left: 170px;
  min-width: 200px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
color:aliceblue;
    font-size: 0.9em;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-170px;
  position: absolute;
  top: 0;
  width: 180px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
  background: lightblue;
  color: darkcyan;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}
button {
    background-color: darkcyan;
    text-decoration: none;
    font-family: Lato, sans-serif;
  font-weight: 600;
    color: aliceblue;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 0.8em;
}
button a {
    text-decoration: none;
    color:aliceblue;
}
/****************************************/
@media (min-width: 36em){
.rotating-text {
  margin-top: 150px;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: aliceblue;
  transform: translateX(-80px);
}
    #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: -80px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, darkcyan 0%, cyan 100%);
    z-index: 200;
}
    .container {
    width: 80%;
    margin:auto;
}
.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}
    .tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}
    .tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
color:aliceblue;
         font-size: 1.2em;
}
button {
    background-color: darkcyan;
    text-decoration: none;
    font-family: Lato, sans-serif;
  font-weight: 600;
    color: aliceblue;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}
    .tabordion section label {
  background: darkcyan;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 230px;
  z-index:100;
    color:aliceblue
}
    h1 {
  color:aliceblue;
 margin-left: 20%;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size:2em;
    
}
    
}
